body {
    box-sizing: border-box; 
    display: flex;
    margin: 0 auto;
    min-height: 100vh;
    flex-direction: column;
    
    font-family: cursive;
    background: linear-gradient(180deg, rgba(2,0,31,1) 0%, rgba(12,61,196,1) 46%, rgba(175,113,244,1) 100%);

}

p {
    color: #ada3e6;
    
    padding: 2rem;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-size: 18px;
}

img {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    border-radius: 5%;

    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 1rem;
    align-content: center;
}

nav {
    padding: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

a{
    text-align: end;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;

    color: #d4cdfa;
}

h1, h2, h3 {
    text-align: center;
    color: #7566cc;

    letter-spacing: 4px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    text-align: center;
    line-height: 5rem;
}

.back-to-top {
    background-color: #02001f;
    opacity: 50%;
    
    padding: 1.5rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

html {
    scroll-behavior: smooth;
}

footer {
    background-color: #02001f;
    padding: 1rem;
}