body {
    background-color: grey;
    flex-wrap: wrap;

    margin: 0 auto;
    background-repeat: none;
}

body:hover {
    background-repeat: none;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,138,0,1) 18%, rgba(255,207,0,1) 38%, rgba(0,255,4,1) 57%, rgba(11,0,255,1) 79%, rgba(212,0,255,1) 100%, rgba(212,0,255,1) 100%);
}

h1, h2 {
    text-align: center;
    background-color:darkgray;
    padding: 2rem;
    color: #666666;
}

h1:hover {
    background-color: greenyellow;
}

.links:hover {
    background-color: purple;
}

h2:hover {
    background-color: magenta;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    padding: 2rem;
    background-color: #666666;
}

a {
    font-size: 20px;
    color: darkgray;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

h1:hover {
    color: magenta;
}

h2:hover {
    color:springgreen
}

p {
    text-align: center;
    padding: 2rem;
    font-size: 18px;
}

.p1:hover {
    background-color: red;
    color: greenyellow;
}

.p2:hover {
    background-color: orange;
    color: blueviolet;
}

.p3:hover {
    background-color: yellow;
    color: purple;
}

.p4:hover {
    background-color: green;
    color: orangered;
}

.p5:hover {
    background-color: blue;
    color: orange;
}

.p6:hover {
    background-color: indigo;
    color: yellow;
}

.p7:hover {
    background-color: violet;
    color: white;
}

.moon:hover {
    color: mediumvioletred;
}

img {
    position: absolute;
    top: 80%;

    opacity: 0.2;
    transition: opacity 0.5s ease-in-out;
}

img:hover {
    opacity: 100%;
}