body {
    margin: 0 auto;
    padding: 1rem;

    background-color: #595959;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: darkred;

    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
}

h1 {
    letter-spacing: 3px;
}

.parent {
    background-color: #c7a38f;
    display: flex;
    padding: 1em;
    
    flex-wrap: wrap;
    border-radius: 1em;
    align-items: center;
    gap: 1rem;
}
  
img{
    border-radius: 12px;
    width: 100%;
}
  
.image{
    flex-basis: 60%;
    flex-grow: 1;
    min-width: 10rem;
}
  
.text{
    flex-basis: 35%;
    flex-grow: 1;
    min-width: 10rem;
}

p {
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items {
    background-color: gray;
    border: solid darkred;

    padding: 5px;
}

figure {
    margin: 0 auto;
    justify-content: center;
}

figure img {
    width: 100%;   
    max-width: 500px;
    justify-content: center;
}

footer {
    text-align: center;
    color: darkred;
}