body {
    margin: 0 auto;
    padding: 1rem;

    background-color: #595959;
    font-family: 'Courier New', Courier, monospace;
}

#container {
    width: 90%;
    margin: auto;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 15px;
    row-gap: 15px;
}

nav section {
    border: 2px solid #c7a38f;
    min-height: 600px;
    background-color: #c7a38f;

}

nav section p {
    padding: 1rem;
}

nav section h1 {
    padding: 1rem;
}

figure {
    margin: 0px;
}

figure img {
    width: 100%;   
    max-height: 400px;
    min-height: 400px;
    object-fit: cover;
    justify-content: center;
}

.desktop {
    opacity: 0.75;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: darkred;

    letter-spacing: 1px;
    line-height: 25px;
    font-size: 18px;
}

h1 {
    letter-spacing: 3px;
}

p {
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 25px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items {
    background-color: gray;
    border: solid darkred;

    padding: 5px;
}

footer {
    text-align: center;
    color: darkred;
}